.mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hh {
    text-align: center;
    padding-top: -400px;
  }
  h1{
    color: #603914;
  }
  p {
    color: #603914;
  }
  .button-container {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  button.active {
    opacity: 0.7;
  }


  .hhhh {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
  }

  .tt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
  }
  
  
  .column {
    padding: 20px;
    background-color: #f9f9f9;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .column img {
    width: 100%;
    max-width: 200px;
    height: 40%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
 .column p{
    
    font-size: 20px;
    padding-bottom: 10px;
  }
  .view-all-button {
    background-color: #E2725B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-all-button:hover {
    background-color: #C25741;
  }
  
  .column p {
    margin: 5px 0;
  }
  